[submodule ".zsh/zprezto"]
	path = .zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "/home/bste/.emacs.d"]
	path = /home/bste/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
