[user]
	name = Benji Stephenson
	email = bjames.stephenson@gmail.com
	logallrefupdates = true
[credential]
	helper = store
[help]
	autocorrect = 5
[branch]
	autosetuprebase = never
[alias]
	llog = log --decorate --graph
	co = checkout
	restore-perms = diff -p -R | grep -E "^(diff|(old|new) mode)" | git apply
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
  # the acronym stands for "subtree add"
  sba = "!f() { git subtree add --prefix $1 $1 master --squash; }; f"
  # the acronym stands for "subtree update"
  sbu = "!f() { git subtree pull --prefix $1 $1 master --squash; }; f"
  # the acronym stands for "subtree push"
	sbp = "!f() { git subtree push --prefix $1 $1 master; }; f"

[default]
	editor = vim
[core]
	editor = vim
	autocrlf = false
[push]
	default = current
[color]
	ui = auto
